.tinder-cards {

  ion-card {
    overflow: visible;
  }
  ion-card-content > p {
    margin-bottom: 1rem;
  }

  .module {
    // margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .card-img {
    height: auto;
    width: 100%;
    border-radius: 8px;
  }

  .buttons {
    width: 100%;
    padding: 0.5rem 2rem;

    .left {
      float: left;
      --background: #bc1e42;
      --border-color: #bc1e42;
      --background-activated: lighten(#bc1e42, 50);
    }
    .right {
      float: right;
      --background: #23abb0;
      --border-color: #23abb0;
      --background-activated: lighten(#23abb0, 50);
    }
  }

  .chips {
    ion-chip {
      height: auto;
    }
  }
}
