.minigame.container {
	padding: 1rem;
}

.minigame.container ion-label {
	text-overflow: unset;
	white-space: pre-wrap;
}

.minigame.container video {
	margin-bottom: 1rem;
	width: 100%;
}

.minigame.container .button.done {
	margin-top: 2rem;
	width: 75%;
	font-weight: bold;
}
