.assignment .footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 10000000;

  .footer-container {
    margin-top: 3rem;

    .progress-meter,
    div[title='animation'] {
      display: inline-block;
      width: 30% !important;
      margin: 0 2rem;
    }
    // .progress-meter {
    //   // margin-left: 0;
    // }
    // div[title="animation"] {
    //   // svg { }
    // }
  }

  .button.done {
    margin: 1rem 0;
    // width: 75%;
    margin: 0 1rem 0 1rem;
    font-weight: bold;
    --background: #23abb0;
    --border-color: #23abb0;
    --background-activated: lighten(#23abb0, 50);
  }

  .footer-slider {
    z-index: 10000000;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    background: white;
    overflow: hidden;
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);

    &.hidden {
      transform: scaleY(0);
    }
    &.visible {
      transform: scaleY(1);
    }
  }
}
