.instructions {
  h2 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }

  ul {
    color: #8c8c8c;
    text-align: left;
    font-size: 0.9rem;
  }

  .animation-title-wrapper {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .animation {
      flex: 0 0 40%;
      max-width: 250px;
    }

    .instructions-header-title {
      flex: 1;

      white-space: pre-wrap !important;
      font-weight: 500;
      font-size: 1.1rem;
    }
  }

  // Make speech bouble visible
  overflow: visible;
  .instructions-header {
    overflow: visible;
    text-align: left;
  }

  $bubble-color: #22b8be;

  .speech-bubble {
    display: inline-block;
    min-width: 150px;
    max-width: 450px;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: -1.5rem;
    text-align: center;
    padding: 0.8rem;
    font-size: 0.9rem;
    background: $bubble-color;
    color: #fff;
    border-radius: 1em;
    transform: rotateZ(5deg);
    transform-origin: top left;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100px;
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-top-color: $bubble-color;
    border-bottom: 0;
    border-left: 0;
    margin-left: -6.5px;
    margin-bottom: -12px;
  }
}
