.instructions {
  h2 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }

  ul {
    color: #8c8c8c;
    text-align: left;
    font-size: 0.9rem;
  }

  // Make speech bouble visible
  overflow: visible;
  .instructions-header {
    overflow: visible;
  }

  .Collapsible {
    margin-top: 2rem;

    //The content within the collaspable area
    .Collapsible__contentInner {
      padding: 0.6rem;
      border: 1px solid #1ec3ca;
      border-radius: 0 0 5px 5px;
      border-top: 0;
      text-align: left;

      p, ul {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        line-height: 1.2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
      ul {
        padding-left: 1.5rem;
      }
    }

    //The link which when clicked opens the collapsable area
    .Collapsible__trigger {
      border-radius: 5px;
      display: block;
      padding: 0.5rem;
      background: #1ec3ca;
      color: #fff;

      &.is-open {
        border-radius: 5px 5px 0 0;
      }
    }
  }

  .animation {
    display: inline-block;
    position: relative;
    width: 40%;
    padding: 0.5rem 5%;

    $bubble-color: #22B8BE;

    .speech-bubble {
      min-width: 5rem;
      text-align: center;
      padding: 0.7rem;
      position: absolute;
      font-size: 0.9rem;
      top: -30px;
      left: 35%;
      white-space: nowrap;
      background: $bubble-color;
      color: #FFF;
      border-radius: 1em;
      transform: rotateZ(5deg);
    }

    .speech-bubble:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 40px;
      width: 0;
      height: 0;
      border: 13px solid transparent;
      border-top-color: $bubble-color;
      border-bottom: 0;
      border-left: 0;
      margin-left: -6.5px;
      margin-bottom: -12px;;
    }
  }
}
