.container {
  text-align: center;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);  */
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.container .instructions {
  padding: 1rem 0;
}


.map-container {
  position: relative;
}

.map-container .dot {
  width: 12%;
  height: 6%;
  background-color: purple;
  border-radius: 100%;
  position: absolute;
}

.map-container .dot.lappeenranta {
  top: 81%;
  left: 65%; 
}
.map-container .dot.kuopio {
  top: 60%;
  left: 60%; 
}
.map-container .dot.helsinki {
  top: 87%;
  left: 40%; 
}

.map-container .map {
}

.container .instructions {
  margin-bottom: 30px; 
}