.map svg {
  .cls-1 {
    fill: #2cb8cc;
  }
  .cls-1,
  .cls-4,
  .cls-5 {
    stroke: #2d9da5;
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }
  .cls-2 {
    opacity: 0.6;
  }
  .cls-3 {
		fill: #2d9da5;
		stroke: #2898A6;
  }
  .cls-4 {
    fill: none;
  }
  .cls-5 {
    fill: #b468d8;
  }
}
