.minigame.container {
  ion-label {
    text-overflow: unset;
    white-space: pre-wrap;
  }

  video {
    margin-bottom: 1rem;
    width: 100%;
  }

  .button.done {
    margin-top: 2rem;
    width: 75%;
    font-weight: bold;
    --background: #23abb0;
    --border-color: #23abb0;
  }

  .theme-bar {
    text-align: left;
    padding: 0.8rem;
    color: #fff;
    font-weight: bolder;

    .button.cancel {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }

  .footer {
    .progress-meter {
      display: inline-block;
    }
  }
}
