.minigame.container {
  ion-label {
    text-overflow: unset;
    white-space: pre-wrap;
  }

  video {
    margin-bottom: 1rem;
    width: 100%;
  }

  .button.done {
    margin-top: 2rem;
    width: 75%;
    font-weight: bold;
  }

  .theme-bar {
    text-align: left;
    padding: 0.8rem;
    color: #fff;
    font-weight: bolder;

    .button.cancel {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }

  .instructions {
    h2 {
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
    }

    .Collapsible {
      margin-top: 2rem;

      //The content within the collaspable area
      .Collapsible__contentInner {
        padding: 0.6rem;
        border: 1px solid #1ec3ca;
        border-radius: 0 0 5px 5px;
				border-top: 0;
				text-align: left;

        p {
          margin-bottom: 1rem;
          font-size: 0.8rem;
          line-height: 1.2rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      //The link which when clicked opens the collapsable area
      .Collapsible__trigger {
        border-radius: 5px;
        display: block;
        padding: 0.5rem;
        background: #1ec3ca;
        color: #fff;

        &.is-open {
          border-radius: 5px 5px 0 0;
        }
      }
    }
  }

  .footer {
    .progress-meter {
      display: inline-block;
    }
  }
}
