.minigame.container {
  width: 100%;
  height: 100%;
  padding-top: 3rem;

  & > div {
    position: relative;
  }

  ion-label {
    text-overflow: unset;
    white-space: pre-wrap;
  }

  .theme-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    text-align: left;
    padding: 0.8rem;
    color: #fff;
    font-weight: bolder;

    .button.cancel {
      position: absolute;
      right: 3px;
      top: 3px;
    }
  }
}
