.onboarding-container {
  // .instructions-header {
  //   background-color: #20ADBE;
  //   color: #FFF;
  //   .animation {
  //     // filter: invert(1);
  //   }
  // }

  ion-card {
    ion-card-header {
      ion-title {
        font-family: Kanit;
        font-weight: bold;
      }

      background-color: #20adbe;
      color: #fff;
    }

    ion-card-content {
      padding-top: 1rem;
      p {
        margin-bottom: 1rem;
      }
      // padding: 1rem;
    }
    padding-bottom: 0 !important;
    .bottom-border {
      background-color: #9EDDE6;
      height: 4rem;
    }
  }

  ion-button.start {
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 3rem;
  }

  .progression-colors {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .progress-meter {
      max-width: 300px;
    }
  }

  .onboarding-animation {
    max-width: 30%;
    float: left;
    padding-top: 1rem;
    margin: 1rem;
    margin-left: 0;
    max-height: 250px;
    max-width: 180px;

    $bubble-color: #20adbe;

    .speech-bubble {
      font-weight: bold;
      display: inline-block;
      // min-width: 150px;
      // max-width: 450px;
      margin-left: 7%;
      margin-right: 3%;
      margin-top: -1.5rem;
      text-align: center;
      padding: 0.8rem;
      font-size: 0.9rem;
      background: $bubble-color;
      color: #fff;
      border-radius: 1em;
      transform: rotateZ(5deg);
      transform-origin: top left;
    }

    .speech-bubble:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 65%;
      width: 0;
      height: 0;
      border: 13px solid transparent;
      border-top-color: $bubble-color;
      border-bottom: 0;
      border-left: 0;
      margin-left: -6.5px;
      margin-bottom: -12px;
    }
  }
}

// {"currentLocation":"helsinki","progress":{"kuopio":["innokas","kunnianhimoinen","luotettava","itsevarma","vastuuntuntoinen"],"jyvaskyla":{"asdfasdf":3},"tampere":{"result":[{"name":"terveystieteet","url":"assets/tinder-img/terveystieteet.png","institute":"Yliopisto","field":"Terveys- ja hyvinvointi"},{"name":"elektroniikka ja tietoliikennetekniikka","url":"assets/tinder-img/elektroniikka_jatietoliikennetekniikka.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"informaatioverkostot","url":"assets/tinder-img/informaatioverkostot.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"tietotekniikka","url":"assets/tinder-img/tietotekniikka.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"tietojenkäsittelytiede","url":"assets/tinder-img/tietojenksittelytiede.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"}],"swiped":[{"name":"terveystieteet","url":"assets/tinder-img/terveystieteet.png","institute":"Yliopisto","field":"Terveys- ja hyvinvointi"},{"name":"elektroniikka ja tietoliikennetekniikka","url":"assets/tinder-img/elektroniikka_jatietoliikennetekniikka.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"informaatioverkostot","url":"assets/tinder-img/informaatioverkostot.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"tietotekniikka","url":"assets/tinder-img/tietotekniikka.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"},{"name":"tietojenkäsittelytiede","url":"assets/tinder-img/tietojenksittelytiede.png","institute":"Yliopisto","field":"Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus"}],"fields":["Sosiaalitieteet, journalistiikka ja viestintä","Tietojenkäsittely, tietotekniikka (ICT) ja informaatiotutkimus","Terveys- ja hyvinvointi"]},"turku":[{"title":"Opintojen keskeyttäminen ja niiden jatkaminen myöhemmin","isCorrect":false},{"title":"Tuen hakeminen ja kyky ottaa vastaan apua","isCorrect":true},{"title":"Vaihtoehtoiset suoritustavat opinnoissa","isCorrect":true}],"oulu":["Resilienssi eli muutosjoustavuus","Kyky toimia erilaisissa ympäristöissä ja kulttuureissa","Yhteistyökyky"],"rovaniemi":["kaverit","perhe","oma koti","hyvä ruoka","sdfsdf","läheisyys"],"vaasa":[{"title":"rohkeus ryhtyä yrittäjäksi","isCorrect":true},{"title":"kriittinen ajattelu työssä","isCorrect":true},{"title":"johonkin tiettyyn osaamisalueeseen keskittyminen opintojen aikana","isCorrect":true}],"helsinki":{"Yliopisto-opiskelu sisältää pelkkää teoriaa eikä käytännön tekemistä ole":false,"Avoimessa suoritetut opinnot voivat nopeuttaa valmistumistasi päästessäsi opiskelemaan.":true,"Ammattikorkeassa sinun pitää aina olla kontaktiopetuksessa, yliopistossa voit itse päättää milloin opiskelet.":false,"Opiskelun lisäksi korkeakoulujen opiskelijaelämään kuuluu paljon muutakin toimintaa.":true,"Korkeakouluopinnoissa on sekä kontaktiopetusta, että itsenäistä työskentelyä.":true,"Korkeakouluopiskelusta täytyy selvitä täysin itsenäisesti. Opiskelija selvittää kaikki opintoihin kuuluvat asiat itse ja huolehtii kaikista opintojen etenemiseen liittyvistä asioistaan.":false,"Korkeakouluun ei ole muita reittejä kuin pääsykokeen läpäiseminen.":false,"Yksi tutkinto valmistaa sinut aina vain yhteen alaan.":false,"Ammattikorkeakoulututkinnon voi suorittaa myös töiden ohessa.":true,"Et voi itse vaikuttaa korkeakouluopintojesi kestoon tai sisältöön.":false,"Voit hakea lukiotodistuksellasi yliopistoon suorittamaan maisteriopintoja.":false},"lappeenranta":{"Tuttuus":3,"Arvot":3,"Kutsumus":4},"joensuu":{"scores":[{"occupation":"elektroniikka ja tietoliikennetekniikka","score":6},{"occupation":"informaatioverkostot","score":5},{"occupation":"terveystieteet","score":5}],"factors":[{"name":"Työn kiinnostavuus","score":1,"isChecked":true},{"name":"Hyvä palkkaus","score":4,"isChecked":true},{"name":"Hyvä työllisyystilanne","score":4,"isChecked":true},{"name":"Arvojesi mukainen työ","score":4,"isChecked":true},{"name":"Joustavat työajat","score":1,"isChecked":true}]}}}
