.pawn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 10px;
  background: #fff;
  border: 3px solid #2bb6c5;
  pointer-events: none;

  transition: top 1.5s, left 1.5s;
  transform: translate(-50%, -50%);
  transform-origin: 0 0;

  animation: pop-in-delay 1.5s;

  div[title="pawn"] {
    transform: scale(1.6) translateY(-5%) translateX(-4%);
  }
}
