.progress-meter {
  $width: 200px;
  $height: 200px;

  // position: relative;
  width: $width;
  height: $height;

  // canvas {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  // .text-wrapper {
  //   position: absolute;
  //   top: 88px;
  //   left: 0;
  //   width: $width;

  //   .text {
  //     display: inline-block;
  //     text-transform: uppercase;
  //     color: #FFF;
  //     font-size: 8px;
  //     font-weight: bold;
  //     text-align: center;
  //     vertical-align: middle;
  //   }
  // }

}


