
.progress-meter {
  $size: 100%;

  path {
    transition: fill 1.5s;
    transition-delay: 0.5s;
  }

  text {
    font-weight: bold;
  }

  position: relative;
  width: $size;
  height: $size;
}


