.results-container {
  ion-col {
    padding: 0;
  }

  .progress-wrapper {
    text-align: center;

    img.enlightened-beanie {
      max-height: 300px;
      max-width: 80%;
      width: auto;
      height: auto;
      margin-right: -40px;
      margin-top: -15px;
      display: inline-block;
    }
    .progress-meter {
      max-width: 300px;
    }
  }

  ion-card-content p {
    margin-bottom: 1rem;
  }

  .social-share {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    img {
      max-width: 15%;
      margin: 1.5%;
      transform: scaleX(0.8);
    }
    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
