.results-container {
  .progress-wrapper {
    text-align: center;
    .progress-meter {
      max-width: 300px;
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  .results {
    // position: 'relative',
    // background: 'white',
    // textAlign: 'left',
    // padding: '0'
    // pre {
    //   font-size: 10px;
    //   white-space: pre-wrap;
    // }
  }

}