.results-svg {

	svg {
.cls-1,.cls-43,.cls-49,.cls-51,.cls-55,.cls-56,.cls-57{fill:none;}.cls-2{fill:#b0e0e9;}.cls-3{fill:#1ab8cd;}.cls-4{font - size:40px;font-family:Kanit-SemiBold, Kanit;font-weight:700;}.cls-36,.cls-37,.cls-4,.cls-7{fill:#fff;}.cls-5{letter - spacing:-0.08em;}.cls-6{letter - spacing:-0.04em;}.cls-7{font - size:33px;font-family:Kanit-Regular, Kanit;}.cls-8{letter - spacing:-0.09em;}.cls-9{letter - spacing:-0.01em;}.cls-10{letter - spacing:-0.02em;}.cls-11{letter - spacing:-0.01em;}.cls-12{letter - spacing:-0.04em;}.cls-13{letter - spacing:-0.04em;}.cls-14{letter - spacing:0em;}.cls-15{letter - spacing:-0.01em;}.cls-16{letter - spacing:-0.02em;}.cls-17{letter - spacing:-0.03em;}.cls-18,.cls-37{font - size:14px;font-family:Kanit-Medium, Kanit;}.cls-18{fill:#15787f;}.cls-19{letter - spacing:-0.14em;}.cls-20{letter - spacing:0em;}.cls-21{letter - spacing:-0.02em;}.cls-22{letter - spacing:-0.08em;}.cls-23{letter - spacing:-0.04em;}.cls-24{letter - spacing:-0.03em;}.cls-25{letter - spacing:-0.01em;}.cls-26{letter - spacing:-0.03em;}.cls-27{letter - spacing:-0.07em;}.cls-28{fill:#070909;}.cls-29{letter - spacing:-0.06em;}.cls-30{letter - spacing:-0.04em;}.cls-31{letter - spacing:-0.11em;}.cls-32{letter - spacing:-0.13em;}.cls-33{letter - spacing:-0.08em;}.cls-34{letter - spacing:-0.02em;}.cls-35{letter - spacing:-0.01em;}.cls-38{letter - spacing:-0.03em;}.cls-39{letter - spacing:-0.02em;}.cls-40{letter - spacing:-0.08em;}.cls-41{letter - spacing:0em;}.cls-42{letter - spacing:-0.06em;}.cls-43{stroke:#1ab8cd;stroke-width:7px;stroke-dasharray:8;}.cls-43,.cls-49,.cls-51,.cls-55,.cls-56,.cls-57{stroke - miterlimit:10;}.cls-44{letter - spacing:-0.05em;}.cls-45{clip - path:url(#clip-path);}.cls-46{clip - path:url(#clip-path-2);}.cls-47{font - size:13.29px;}.cls-47,.cls-50,.cls-54{fill:#231f20;}.cls-47,.cls-54{font - family:FranckerStd-CondensedReg, FranckerStd CondensedReg;}.cls-48{fill:#18becd;}.cls-49,.cls-55,.cls-56,.cls-57{stroke:#18becd;}.cls-49{stroke - width:5.64px;}.cls-51{stroke:#231f20;stroke-linecap:round;stroke-width:2.82px;}.cls-52{clip - path:url(#clip-path-4);}.cls-53{clip - path:url(#clip-path-5);}.cls-54{font - size:6.16px;}.cls-55{stroke - width:2.61px;}.cls-56{stroke - width:1.49px;}.cls-57{stroke - width:1.87px;}
	}

}
// .map svg {
//   .cls-1 {
//     fill: #2cb8cc;
//   }
//   .cls-1,
//   .cls-4,
//   .cls-5 {
//     stroke: #2d9da5;
//     stroke-miterlimit: 10;
//     stroke-width: 3px;
//   }
//   .cls-2 {
//     opacity: 0.6;
//   }
//   .cls-3 {
// 		fill: #2d9da5;
// 		stroke: #2898A6;
//   }
//   .cls-4 {
//     fill: none;
//   }
//   .cls-5 {
//     fill: #b468d8;
//   }
// }
